<div class="row navbar">
    <div class="col-6">
        {% if site.github_username %}
        <a class="fa fa-heartbeat" href="https://xiangblq.github.io/" title="XUNYI"></a>
        {% endif %} {% if site.twitter_username %}
        <a class="fa fa-book" href="https://xiangblq.github.io/blog/" title="NOTES"></a>
        {% endif %} {% if site.linkedin_username %}
        <a class="fa fa-picture-o" href="https://xiangblq.github.io/gallery/" title="GALLERY"></a>
        {% endif %} {% if site.facebook_username %}
        <a class="fa fa-calendar" href="https://xiangblq.github.io/diary/" title="DIARY"></a>
        {% endif %} {% if site.500px_username %}
        <a class="fa fa-commenting" href="https://xiangblq.github.io/blog/pages/chat.html" title="COMMENT"></a>
        {% endif %} {% if site.instagram_username %}
        <a class="fa fa-instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram"></a>
        {% endif %}
    </div>
    <div class="col-6 text-right">
        <a class="fa fa-home" href="https://xiangblq.github.io/story/"></a>
    </div>
</div>